@import '_variables';
@import 'mixins';

@import 'gird';

@import '_nav';



body {
    background-color: $blueColor;
    @include clear;
}

.paragraph {
    color: darken($blueColor, 30%);
    @include clear;
}

// a:hover {
//     color: complement($blueColor);
// }

a {
    &:hover {
        color: complement($blueColor);
    }
    &::after {
        clear: both;
    }
}

.class1 {
    &class2 {
        min-height: 10px;
    }
}


// Nesting
.card {
    background-color: white;
    border: 2px solid $blueColor;


    .cardBody{
        color: $blueColor;
        text-align: right;

        .cardTitle {
            font-style: 2em;

            img {
                max-width: 50px;
            }
        }
    }
}


// Mixins

.div1 {
    @include divStyle;
    color: red;
}

.div2 {
    @include divStyle;
    color: blue;
}
